/*Estilos del body, para el hyphens y el tipo de letra entre otros*/
body{
    margin: auto;
    hyphens: auto;
    font-family: Verdana, sans-serif;
    text-align: justify;
}
/*Estilos del primer div*/
div#cabecera{
    position: absolute;
    width: 750px;
    top: 0px;
    left: 50px;
    text-align: center;
}
/*Estilos del div con la imagen de la ciudad*/
div#divCiudad{
    background-image: url(../imagenes/ciudad9.jpg);
    background-size: 750px 450px;
    position: absolute;
    width: 750px;
    height: 450px;
    top: 150px;
    overflow: hidden;
    border-color: #575794;
    border-style: solid;
    border-width: 4px;
    border-radius: 50px;
    margin-left: 50px;
    animation-name: borde;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}
/*Estilos del div con las normas de circulación*/
div#normasCirculacion{
    background-color: #e6fff7;
    position: absolute;
    width: 700px;
    top: 650px;
    left: 50px;
    padding: 30px;
    border-radius: 50px;
    column-count: 3;
    column-width: 200px;
    column-gap: 30px;
    column-rule: 1px solid lightgray;
}
/*Añadimos la fuente kavivanar para el primer párrafo*/
@font-face{
    font-family: Kavivanar;
    src: url(../fuentes/Kavivanar-Regular.ttf), url(../fuentes/OFL\(Kav\).txt);
}
/*Estilos párrafo 1*/
p.parrafo1{
    font-family: Kavivanar;
    color: #008080;
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 2px 2px black;
    margin-top: 0px;
    margin-bottom: -20px;
}
/*Añadimos la fuente Playball para el segundo párrafo*/
@font-face{
    font-family: Playball;
    src: url(../fuentes/Playball-Regular.ttf), url(../fuentes/OFL\(Play\).txt);
}
/*Estilos párrafo 2*/
p.parrafo2{
    font-family: Playball;
    font-size: 25px;
    font-style: italic;
    margin-bottom: -20px;
}
/*Añadimos la fuente Parisienne para el tercer párrafo*/
@font-face{
    font-family: Parisienne;
    src: url(../fuentes/Parisienne-Regular.ttf), url(../fuentes/OFL\(Paris\).txt);
}
/*Estilos párrafo 3*/
p.parrafo3{
    font-family: Parisienne;
    font-size: 25px;
    font-style: italic;
    color: blue;
}
/*Estilos imagen semáforo 1*/
img.semaforo1{
    position: absolute;
    width: 10%;
    bottom: 95px;
    left: 15%;
}
/*Estilos imagen semáforo 2*/
img.semaforo2{
    position: absolute;
    width: 10%;
    bottom: 95px;
    right: 25%;
}
/*Estilos imagen paso de cebra 1*/
img.pasoCebra1{
    position: absolute;
    width: 19%;
    bottom: -20px;
    left: 15%;
}
/*Estilos imagen paso de cebra 2*/
img.pasoCebra2{
    position: absolute;
    width: 19%;
    bottom: -20px;
    right: 15%;
}
/*Estilos imagen coche 1*/
img.coche{
    bottom: 45px;
    position: absolute;
    width: 20%;
    animation-name: coche;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-range-start:  left;
    animation-range-end: right;
    overflow: hidden;
    animation-timing-function: linear;
}
/*Estilos imagen coche 2*/
img.coche2{
    animation-name: coche2;
    bottom: 2px;
    position: absolute;
    width: 20%;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-range-start:  right;
    animation-range-end: left;
    overflow: hidden;
    animation-timing-function: linear;
}
/*Estilos imagen helicoptero*/
img.helicoptero{
    position: absolute;
    animation: mueveHelicoptero 5s infinite;
    overflow: hidden;
    width: 20%;
    margin-bottom: 45%;
    margin-left: 55%;
    animation-range-start: right;
    animation-timing-function: linear;
}
/*Estilos imagen bici 1*/
img.bici1{
    animation-name: bici1;
    bottom: 85px;
    position: absolute;
    width: 10%;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-range-start:  right;
    animation-range-end: left;
    overflow: hidden;
    animation-timing-function: linear;
}
/*Estilos imagen bici 2*/
img.bici2{
    animation-name: bici2;
    bottom: 85px;
    position: absolute;
    width: 10%;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-range-start:  right;
    animation-range-end: left;
    overflow: hidden;
    animation-timing-function: linear;
}
/*Estilos imagen moto*/
img.moto{
    position: absolute;
    bottom: 0px;
    width: 20%;
    animation-name: moto;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-range-start:  right;
    animation-range-end: left;
    overflow: hidden;
    animation-timing-function: linear;
}
/*Movimientos coche 1*/
@keyframes coche{
    0%{
    right: 900px;
    }100%{
        right: -200px;
    }
}
/*Movimientos coche 2*/
@keyframes coche2{
    0%{
    left: 900px;
    }100%{
        left: -200px;
    }
}
/*Movimientos helicoptero*/
@keyframes mueveHelicoptero{
    0% {
        right: -100px;
        top: 0px;
    }25%{
        top: 150px;
        transform: rotateY(2500deg);
        width: 40%;
    }50%{
        top: 0px;
        transform: rotateY(0deg);
    width: 15%;
    }75%{
        top: 150px;
        transform: rotateY(1500deg);
        width: 50%;
    }100%{
        right: 999px;
        width: 15%;
    }
}
/*Movimientos bici 1*/
@keyframes bici1{
    0%{
        right: 900px;
        
    }25%{
        transform: rotate(-45deg);
    }50%{
        transform: rotate(45deg);
    }75%{
        transform: rotate(-45deg);
    }100%{
        right: -100px;
    }
}
/*Movimientos bici 2*/
@keyframes bici2{
    0%{
        right: 1000px;
        bottom: 95px;
    }25%{
        transform: rotate(-45deg);
    }50%{
        transform: rotateY(150deg);
    }75%{
        transform: rotate(-45deg);
        bottom: 95px;
    }100%{
        right: -100px;
    }
}
/*Movimientos moto*/
@keyframes moto{
    0%{
        right: -150px;
        bottom: 0px;
    }25%{
        bottom: 50px;
        transform: rotate(45deg);
    }50%{
        bottom: 0px;
        transform: rotateY(0deg);
    }75%{
        transform: rotate(-45deg);
    }100%{
        right: 999px;
    }
}
/*Movimientos borde de la imagen de ciudad*/
@keyframes borde{
    0%{
        border-color: red;
        box-shadow:5px 5px red;
    }25%{
        border-color: blue;
        box-shadow:5px 5px blue;
    }50%{
        border-color: yellow;
        box-shadow:5px 5px yellow;
    }75%{
        border-color: orange;
        box-shadow:5px 5px orange;
    }100%{
        border-color: green;
        box-shadow:5px 5px green;
    }
}
/*Creamos la fuente FasterOne para el título h3*/
@font-face {
    font-family: FasterOne;
    src: url(../fuentes/FasterOne-Regular.ttf), url(../fuentes/OFL\(Fast\).txt);
}
/*Estilos título h3*/
h3{
    font-family: FasterOne;
}