html{color: #000;}
body
    {  min-width: 200px;  }
h1, h2 {
        text-align: center;
        text-decoration: underline;
}
h3 {    text-align: center; }
.contenedorBanderas
    {
        padding: 10px;
        margin: 20px;
        background-color: lightcyan;
    }
.banderas
    {
        height: 100px;
        border: 3px blue ridge;
        padding: 2px;
        display: block;
        margin: auto;
    }