body{
    background-image: url("../imagenes/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    hyphens: auto;
    text-align: justify;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: #090165;
    margin-bottom: 0px;
}
.main{
    display: block;
    width: 800px;
    margin: auto;
}
div.autores{
    transform: rotate(180deg);
    vertical-align:middle;
    writing-mode: vertical-lr;
    text-align: center;
    position: absolute;
    top: 500px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    margin-left: -32px;
}

div.azulTexto{
    background-color: #01a0c6;
    color: white;
    display: grid;
    float: left;
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
}
div.datos{
    border-style: solid;
    border-color: #245c38;
    display: grid;
    width: 35%;
    height: 65%;
}
.fondoCeleste{
    background-color: #00adf0;
    color: white;
    border: 2px solid #02773c;
    margin: 0px;
    font-size: 12px;
}
p.fondoCeleste:before{
    color: white;
    content: '\220E';
    margin-right: 10px;
}
.fondoBlanco{
    padding: 12px;
    background: linear-gradient(to right, #e3e2e4 6%, white 10%);
    background-size: 5px 100%;
    color: #29206d;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
img.montana{
    display: grid;
    float: right;
    width: 490px;
}
img.mapa{
    width: 300px;
    height: 200px;
    display: grid;
    position: relative;
    float: right;
    right: 0px;
    margin-left: 10px;
}
div.verde{
    background-color: #005723;
    display: grid;
    float: right;
    width: 490px;
    margin-top: 10px;
}
span.sierra{
    font-size:x-large;
    padding: 10px;
    color: white;
}
div.negro{
    background-color: #000000;
    color: white;
    display: grid;
    float: right;
    width: 490px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}
div.texto{
    display: grid;
    float: right;
    width: 500px;
}
div.rojo{
    background-color: #fe0000;
    font-weight: bold;
    color: yellow;
    display: grid;
    float: right;
    width: 500px;
    text-align: center;
    border-radius: 15px;
}
div.carne{
    background-color: #ffe5e6;
    display: grid;
    float: right;
    width: 495px;
    border-style: solid;
    border-radius: 20px;
    border-color: #1c1751;
    margin-top: 5px;
    
}
div.morado{
    background-color: #0c0062;
    color: white;
    display: grid;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
span.negraCursi{
    font-style: italic;
    font-weight: bold;
}
span.negra{
    font-weight: bold;
    text-align: center;
}
span.amarillo{
    color: yellow;
    padding: 10px;
    font-size:small;
}
